<script>
    import Header from "../components/Header.svelte";
    import LeftSideBar from "../components/LeftSideBar.svelte";
</script>

<!-- routify:options preload="proximity" -->

<div class="flex w-full">
    <LeftSideBar />
    <div class="flex flex-col flex-1 text-gray-900 main bg-gray-50">
        <Header />
        <div class="w-full min-h-screen p-4 content" >
            <slot />
        </div>    
    </div>
</div>

