<style lang="postcss">
  .nav-bar {
    @apply flex flex-wrap items-center justify-center text-base h-full;
  }

  .nav-bar .menu-item {
    @apply h-full;
  }

  .nav-bar .menu-item > a {
    @apply flex justify-between mr-2 items-center text-left h-full hover:border-b-4
      text-gray-700 w-full outline-none border-0  hover:text-blue-600 hover:border-blue-600 px-5 py-2;
  }

  .nav-bar .menu-item.has-sub-menu {
    @apply relative;
  }

  .nav-bar .menu-item.has-sub-menu > button {
    @apply flex flex-row items-center w-full;
  }

  .nav-bar > li > ul {
    @apply absolute top-full left-0;
  }
</style>
<div
  class="container flex flex-col flex-wrap h-16 text-gray-400 bg-gray-100 body-font md:flex-row"
>
  <a
    class="flex items-center pl-4 mb-4 font-medium text-gray-900 title-font md:mb-0"
  >
    <svg
      class="w-5 h-16"
      stroke="currentColor"
      fill="none"
      stroke-width="2"
      viewBox="0 0 24 24"
      stroke-linecap="round"
      stroke-linejoin="round"
      xmlns="http://www.w3.org/2000/svg"
    >
      <line x1="3" y1="12" x2="21" y2="12" />
      <line x1="3" y1="6" x2="21" y2="6" />
      <line x1="3" y1="18" x2="21" y2="18" />
    </svg>
  </a>

  <ul class="nav-bar md:ml-auto">
    <li class="menu-item">
      <a class="" href="#">Blog</a>
    </li>
    <li class="menu-item">
      <a class="" href="#">Portfolio</a>
    </li>
    <li class="menu-item">
      <a class="" href="#">About</a>
    </li>
    <li class="menu-item has-sub-menu">
      <a href="#">
        <span>Dropdown</span>
        <svg
          fill="currentColor"
          viewBox="0 0 20 20"
          class="inline w-4 h-4 mt-1 ml-1 transition-transform duration-200 transform md:-mt-1"
        >
          <path
            fill-rule="evenodd"
            d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
            clip-rule="evenodd"
          ></path>
        </svg>
      </a>
      <ul>
        <li class="menu-item">
          <a href="#">Link #1</a>
        </li>
        <li class="menu-item">
          <a href="#">Link #2</a>
        </li>
        <li class="menu-item">
          <a href="#">Link #3</a>
        </li>
      </ul>
    </li>
  </ul>
</div>
