<style lang="postcss">
  .left-side-bar {
    @apply w-56 md:relative md:transform md:translate-x-0 absolute top-0 bottom-0 left-0 z-10 transform -translate-x-56;
  }

  .left-side-bar.open {
    @apply md:translate-x-0 transition-all duration-100 ease-linear;
  }

  .left-side-bar .logo {
    @apply flex w-full h-16 p-4;
  }

  .left-side-bar .logo > a {
    @apply flex flex-row items-center justify-start space-x-2;
  }

  .left-side-bar .logo > a > svg {
    @apply w-7 w-7;
  }

  .left-side-bar .menu-toggle {
    @apply block ml-auto mr-4 lg:hidden;
  }

  .left-side-bar ul.l1 > .menu-item > .menu-item-button {
    @apply pl-16;
  }

  .left-side-bar ul.l2 > .menu-item > .menu-item-button {
    @apply pl-20;
  }

  .left-side-bar .menu-item > .menu-item-button {
    @apply flex justify-between items-center text-left h-10 text-gray-700 w-full outline-none border-l-4 hover:text-blue-600 hover:border-blue-600;
  }

  .left-side-bar .menu-item.active > .menu-item-button {
    @apply border-blue-600 text-blue-600;
  }

  .left-side-bar .menu-item > .menu-item-button > .menu-icon {
    @apply w-16 h-5;
  }

  .left-side-bar .menu-item > .menu-item-button > .arrow {
    @apply w-8 h-4 items-end;
  }

  .left-side-bar .menu-item.active > .menu-item-button > .arrow {
    @apply transform  rotate-90;
  }

  .left-side-bar .menu-item > .menu-item-button > span {
    @apply flex-1 align-top;
  }

  .left-side-bar.collapsed {
    @apply w-16;
  }

  .left-side-bar.collapsed .menu-title,
  .left-side-bar.collapsed .logo span,
  .left-side-bar.collapsed > ul > .menu-item > .menu-item-button > span,
  .left-side-bar.collapsed > ul > .menu-item > .menu-item-button .arrow {
    @apply hidden;
  }

  .left-side-bar.collapsed ul > li {
    @apply relative;
  }

  .left-side-bar.collapsed ul > li > ul {
    @apply absolute top-0 invisible opacity-0 w-48 left-full bg-white;
  }

  .left-side-bar.collapsed ul > li:hover > ul {
    @apply visible opacity-100;
  }

  .left-side-bar.collapsed ul.l1 > .menu-item > .menu-item-button,
  .left-side-bar.collapsed ul.l2 > .menu-item > .menu-item-button {
    @apply pl-4;
  }
</style>
<div class="left-side-bar">
  <div class="logo">
    <a class="" href="/">
      <svg
        stroke="currentColor"
        fill="none"
        stroke-width="2"
        viewBox="0 0 24 24"
        stroke-linecap="round"
        stroke-linejoin="round"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16z"
        ></path>
        <polyline points="3.27 6.96 12 12.01 20.73 6.96"></polyline>
        <line x1="12" y1="22.08" x2="12" y2="12"></line>
      </svg>

      <span>D-board</span>
    </a>

    <button class="menu-toggle">
      <svg
        stroke="currentColor"
        fill="none"
        stroke-width="2"
        viewBox="0 0 24 24"
        stroke-linecap="round"
        stroke-linejoin="round"
        height="20"
        width="20"
        xmlns="http://www.w3.org/2000/svg"
      >
        <line x1="3" y1="12" x2="21" y2="12"></line>
        <line x1="3" y1="6" x2="21" y2="6"></line>
        <line x1="3" y1="18" x2="21" y2="18"></line>
      </svg>
    </button>
  </div>
  <div class="p-4 font-bold tracking-wider text-gray-400 uppercase menu-title">
    <span>Applications</span>
  </div>
  <ul class="l0">
    <li class="menu-item">
      <a href="#" class="menu-item-button">
        <svg
          class="menu-icon"
          stroke="currentColor"
          fill="none"
          stroke-width="2"
          viewBox="0 0 24 24"
          stroke-linecap="round"
          stroke-linejoin="round"
          xmlns="http://www.w3.org/2000/svg"
        >
          <circle cx="12" cy="12" r="10"></circle>
          <polygon
            points="16.24 7.76 14.12 14.12 7.76 16.24 9.88 9.88 16.24 7.76"
          ></polygon>
        </svg>
        <span class="flex-1 title">Dashboard</span>
      </a>
    </li>
    <li class="menu-item">
      <a href="#" class="menu-item-button">
        <svg
          class="menu-icon"
          stroke="currentColor"
          fill="none"
          stroke-width="2"
          viewBox="0 0 24 24"
          stroke-linecap="round"
          stroke-linejoin="round"
          xmlns="http://www.w3.org/2000/svg"
        >
          <circle cx="12" cy="12" r="10"></circle>
          <polygon
            points="16.24 7.76 14.12 14.12 7.76 16.24 9.88 9.88 16.24 7.76"
          ></polygon>
        </svg>
        <span class="flex-1 title">Dashboard</span>
      </a>
    </li>
    <li class="menu-item">
      <button class="open-sibling menu-item-button">
        <svg
          class="menu-icon"
          stroke="currentColor"
          fill="none"
          stroke-width="2"
          viewBox="0 0 24 24"
          stroke-linecap="round"
          stroke-linejoin="round"
          xmlns="http://www.w3.org/2000/svg"
        >
          <polyline points="22 12 18 12 15 21 9 3 6 12 2 12"></polyline>
        </svg>
        <span class="flex-1 title">Apps</span>
        <svg
          class="arrow"
          stroke="currentColor"
          fill="none"
          stroke-width="2"
          viewBox="0 0 24 24"
          stroke-linecap="round"
          stroke-linejoin="round"
          xmlns="http://www.w3.org/2000/svg"
        >
          <polyline points="9 18 15 12 9 6"></polyline>
        </svg>
      </button>
      <ul class="l1">
        <li class="menu-item">
          <a href="#" class="menu-item-button">
            <span class="flex-1 title">Dashboard</span>
          </a>
        </li>
        <li class="menu-item">
          <a href="#" class="menu-item-button">
            <span class="flex-1 title">Dashboard</span>
          </a>
        </li>
        <li class="menu-item">
          <button class="open-sibling menu-item-button">
            <span class="flex-1 title">Apps</span>
            <svg
              class="arrow"
              stroke="currentColor"
              fill="none"
              stroke-width="2"
              viewBox="0 0 24 24"
              stroke-linecap="round"
              stroke-linejoin="round"
              height="1em"
              width="1em"
              xmlns="http://www.w3.org/2000/svg"
            >
              <polyline points="9 18 15 12 9 6"></polyline>
            </svg>
          </button>
          <ul class="l2">
            <li class="menu-item">
              <a href="#" class="menu-item-button">
                <span class="flex-1 title">Dashboard</span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>

  <div class="p-4 font-bold tracking-wider text-gray-400 uppercase menu-title">
    <span>Applications</span>
  </div>
  <ul class="l0">
    <li class="menu-item">
      <a href="#" class="menu-item-button">
        <svg
          class="menu-icon"
          stroke="currentColor"
          fill="none"
          stroke-width="2"
          viewBox="0 0 24 24"
          stroke-linecap="round"
          stroke-linejoin="round"
          xmlns="http://www.w3.org/2000/svg"
        >
          <circle cx="12" cy="12" r="10"></circle>
          <polygon
            points="16.24 7.76 14.12 14.12 7.76 16.24 9.88 9.88 16.24 7.76"
          ></polygon>
        </svg>
        <span class="flex-1 title">Dashboard</span>
      </a>
    </li>
    <li class="menu-item">
      <a href="#" class="menu-item-button">
        <svg
          class="menu-icon"
          stroke="currentColor"
          fill="none"
          stroke-width="2"
          viewBox="0 0 24 24"
          stroke-linecap="round"
          stroke-linejoin="round"
          xmlns="http://www.w3.org/2000/svg"
        >
          <circle cx="12" cy="12" r="10"></circle>
          <polygon
            points="16.24 7.76 14.12 14.12 7.76 16.24 9.88 9.88 16.24 7.76"
          ></polygon>
        </svg>
        <span class="flex-1 title">Dashboard</span>
      </a>
    </li>
    <li class="menu-item">
      <button class="open-sibling menu-item-button">
        <svg
          class="menu-icon"
          stroke="currentColor"
          fill="none"
          stroke-width="2"
          viewBox="0 0 24 24"
          stroke-linecap="round"
          stroke-linejoin="round"
          xmlns="http://www.w3.org/2000/svg"
        >
          <polyline points="22 12 18 12 15 21 9 3 6 12 2 12"></polyline>
        </svg>
        <span class="flex-1 title">Apps</span>
        <svg
          class="arrow"
          stroke="currentColor"
          fill="none"
          stroke-width="2"
          viewBox="0 0 24 24"
          stroke-linecap="round"
          stroke-linejoin="round"
          xmlns="http://www.w3.org/2000/svg"
        >
          <polyline points="9 18 15 12 9 6"></polyline>
        </svg>
      </button>
      <ul class="l1">
        <li class="menu-item">
          <a href="#" class="menu-item-button">
            <span class="flex-1 title">Dashboard</span>
          </a>
        </li>
        <li class="menu-item">
          <a href="#" class="menu-item-button">
            <span class="flex-1 title">Dashboard</span>
          </a>
        </li>
        <li class="menu-item">
          <button class="open-sibling menu-item-button">
            <span class="flex-1 title">Apps</span>
            <svg
              class="arrow"
              stroke="currentColor"
              fill="none"
              stroke-width="2"
              viewBox="0 0 24 24"
              stroke-linecap="round"
              stroke-linejoin="round"
              height="1em"
              width="1em"
              xmlns="http://www.w3.org/2000/svg"
            >
              <polyline points="9 18 15 12 9 6"></polyline>
            </svg>
          </button>
          <ul class="l2">
            <li class="menu-item">
              <a href="#" class="menu-item-button">
                <span class="flex-1 title">Dashboard</span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</div>
